<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    
    <div class="kt-portlet kt-portlet--mobile">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    <%= title %>
                </h3>
                
            </div>
            <div class="kt-portlet__head-toolbar">
                <div class="kt-portlet__head-toolbar">
                    <div class="dropdown dropdown-inline">
                        <% if (user.profile == 'Owner') { %>
                        <button type="button" class="btn btn-brand btn-brand btn-upper btn-bold" data-toggle="modal" data-target="#teamTask">Create Task</button>
                        <!-- Modal -->
                            
                            
                            <div class="modal fade" id="teamTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Create a new Task</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/todo/task/create" method="post" class="kt-form" >
                                                <div class="kt-portlet__body">
                                                    <div class="kt-section kt-section--first">
                                                        <div class="form-group">
                                                            <label>Task Title:</label>
                                                            <input type="text" name="title" class="form-control" placeholder="Enter Task Title">
                                                            <label>Task Description:</label>
                                                            <input type="text" name="desc" class="form-control" placeholder="Enter Task Description">
                                                            <label for="duration">Duration:</label>
                                        						<select class="form-control" id="duration" name="duration">
                                        							<option > Select Task Duration</option>
                                        							<option value="1">1 Hour</option>
                                        							<option value="2">2 Hours</option>
                                        							<option value="3">3 Hours</option>
                                        							<option value="4">4 Hours</option>
                                        							<option value="5">5 Hours</option>
                                        							<option value="6">6 Hours</option>
                                        							<option value="7">7 Hours</option>
                                        							<option value="8">8 Hours</option>
                                        						</select>
                                                            
                                                            <input hidden type="text" name="board_id" class="form-control" value="<%= board.id %>">
                                                            <input hidden type="text" name="user_id" class="form-control" value="<%= user.id %>">
                                                            <input hidden type="text" name="team_id" class="form-control" value="<%= team.id %>">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
                                                    <Input type="submit" class="btn btn-brand" value="Create">
                                                </div>
                                            </form>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <% if (errors) { %>
                <% errors.forEach(function(error){ %>
        			<div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text"><%= error.msg %></div><br>
                        <div class="alert-close">
        				  	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
        				    	<span aria-hidden="true"><i class="la la-close"></i></span>
        				  	</button>
        				</div>
                    </div>
                <% }); %>
            <% }  %>
            <!--begin: Datatable -->
            <% if (tasks.length == 0) { %>
                <div class="kt-heading kt-heading--center">Oops... No task on this board yet.</div>
            <% } else { %>
            <table class="table table-striped- table-bordered table-hover" id="">
                <thead>
                    <tr>
                        <th>Backlog</th>
                        <th>Todo</th>
                        <th>InProgress</th>
                        <th>Review</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <ul class="list-group">
                                <% if (user.profile !== 'staff') { %>
                                    <% tasksBacklog.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <p><a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a></p>
                                        </li>
								    <% }); %>
                                <% } else { %>
                                    <% tasksBacklog.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a>
                                            <% if (user.profile == 'staff') { %>
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>/pick" type="button" class="btn btn-focus btn-elevate btn-pill btn-elevate-air btn-sm">Pick up</a>
                                            <% } %>
                                        </li>
    								<% }); %>
    							<% } %>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-group">
                                <% if (user.profile !== 'staff') { %>
                                    <% tasksTodoManager.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <p><a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a></p>
                                            <p>Assigned to: <%= task.Employee %></p>
                                        </li>
								    <% }); %>
                                <% } else { %>
                                    <% tasksTodo.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a> 
                                            <% if (user.profile == 'staff') { %>
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>/inprogress" type="button" class="btn btn-focus btn-elevate btn-pill btn-elevate-air btn-sm">InProgress</a>
                                            <% } %>
                                        </li>
    								<% }); %>
    							<% } %>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-group">
                                <% if (user.profile !== 'staff') { %>
                                    <% tasksInProgressManager.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <p><a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a></p>
                                            <p>Assigned to: <%= task.Employee %></p>
                                        </li>
								    <% }); %>
                                <% } else { %>
                                    <% tasksInProgress.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a> 
                                            <% if (user.profile == 'staff') { %>
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>/review" type="button" class="btn btn-focus btn-elevate btn-pill btn-elevate-air btn-sm">Review</a>
                                            <% } %>
                                        </li>
    								<% }); %>
    							<% } %>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-group">
                                <% if (user.profile !== 'staff') { %>
                                    <% tasksReviewManager.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <p><a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a></p>
                                            <p>Assigned to: <%= task.Employee %></p>
                                        </li>
								    <% }); %>
                                <% } else { %>
                                    <% tasksReview.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a> 
                                            <% if (user.profile == 'staff') { %>
                                            <a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>/done" type="button" class="btn btn-focus btn-elevate btn-pill btn-elevate-air btn-sm">Done</a>
                                            <% } %>
                                        </li>
    								<% }); %>
    							<% } %>
                            </ul>
                        </td>
                        <td>
                            <ul class="list-group">
                                <% if (user.profile !== 'staff') { %>
                                    <% tasksDoneManager.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <p><a href="/todo/task/<%= team.id %>/<%= board.id %>/<%= task.id %>"><%= task.title%></a></p>
                                            <p>Assigned to: <%= task.Employee %></p>
                                        </li>
								    <% }); %>
                                <% } else { %>
                                    <% tasksDone.forEach(function(task) { %>
                                        <li class="list-group-item">
                                            <a href="#"><%= task.title%></a>
                                        </li>
    								<% }); %>
    							<% } %>
                            </ul>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
            <% } %>
            <!--end: Datatable -->

        </div>
        
    </div>
    
</div>

<!-- end:: Content -->


