<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    
    <!--begin::Row-->
    <div class="row">
        <div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="kt-widget-3 kt-widget-3--brand">
                        <div class="kt-widget-3__content">
                            <div class="kt-widget-3__content-info">
                                <div class="kt-widget-3__content-section">
                                    <div class="kt-widget-3__content-title">Boards</div>
                                </div>
                                <div class="kt-widget-3__content-section">
                                    <span class="kt-widget-3__content-bedge"></span>
                                    <span class="kt-widget-3__content-number"><%= boardCount.count %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="kt-widget-3 kt-widget-3--danger">
                        <div class="kt-widget-3__content">
                            <div class="kt-widget-3__content-info">
                                <div class="kt-widget-3__content-section">
                                    <div class="kt-widget-3__content-title">Total Teams</div>
                                </div>
                                <div class="kt-widget-3__content-section">
                                    <span class="kt-widget-3__content-number"><%= teamCount.count %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
        <div class="col-lg-4 col-xl-4 order-lg-1 order-xl-1">

            <!--begin::Portlet-->
            <div class="kt-portlet kt-portlet--fit kt-portlet--height-fluid">
                <div class="kt-portlet__body kt-portlet__body--fluid">
                    <div class="kt-widget-3 kt-widget-3--success">
                        <div class="kt-widget-3__content">
                            <div class="kt-widget-3__content-info">
                                <div class="kt-widget-3__content-section">
                                    <div class="kt-widget-3__content-title">Total Employees</div>
                                </div>
                                <div class="kt-widget-3__content-section">
                                    <span class="kt-widget-3__content-number"><%= userCount.count %></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--end::Portlet-->
        </div>
    </div>

    <!--end::Row-->
    
    <!--begin::Row-->
	<div class="row">
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--begin::Portlet-->
			<div class="kt-portlet kt-portlet--height-fluid kt-widget-10">
				<div class="kt-portlet__body">
					<div class="kt-widget-10__wrapper">
						<div class="kt-widget-10__details">
							<div class="kt-widget-10__title">Hours Completed</div>
							<div class="kt-widget-10__desc"><%= allHoursCompleted %> Hrs</div>
						</div>
						<div class="kt-widget-10__num">
							<%= myHoursCompleted %> Hrs
						</div>
					</div>
				</div>
			</div>

			<!--end::Portlet-->
		</div>
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--begin::Portlet-->
			<div class="kt-portlet kt-portlet--height-fluid kt-widget-10">
				<div class="kt-portlet__body">
					<div class="kt-widget-10__wrapper">
						<div class="kt-widget-10__details">
							<div class="kt-widget-10__title">Hours Left</div>
							<div class="kt-widget-10__desc"><%= allHoursLeft %> Hrs</div>
						</div>
						<div class="kt-widget-10__num">
							<%= myHoursLeft %> Hrs
						</div>
					</div>
				</div>
			</div>

			<!--end::Portlet-->
		</div>
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--begin::Portlet-->
			<div class="kt-portlet kt-portlet--height-fluid kt-widget-10">
				<div class="kt-portlet__body">
					<div class="kt-widget-10__wrapper">
						<div class="kt-widget-10__details">
							<div class="kt-widget-10__title">Total Teams</div>
							<div class="kt-widget-10__desc"><%= teamCount.count %></div>
						</div>
						<div class="kt-widget-10__num">
							<%= myTeams.teams.length %> 
						</div>
					</div>
				</div>
			</div>

			<!--end::Portlet-->
		</div>
		<div class="col-lg-6 col-xl-4 order-lg-1 order-xl-1">

			<!--begin::Portlet-->
			<div class="kt-portlet kt-portlet--height-fluid kt-widget-10">
				<div class="kt-portlet__body">
					<div class="kt-widget-10__wrapper">
						<div class="kt-widget-10__details">
							<div class="kt-widget-10__title">Total Tasks</div>
							<div class="kt-widget-10__desc"><%= taskCount.count %></div>
						</div>
						<div class="kt-widget-10__num">
							<%= myTaskCount.count %> 
						</div>
					</div>
				</div>
			</div>

			<!--end::Portlet-->
		</div>
	</div>

	<!--end::Row-->
    
</div>

<!-- end:: Content -->


