<!-- begin:: Content -->
						<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

							<!--begin: Row-->
							<div class="row">
							    <% if (team.users.length == 0) { %>
    							    <div class="kt-portlet kt-portlet--mobile">
    							        <div class="kt-portlet__body">
                                            <div class="kt-heading kt-heading--center">Oops... No employee in this team yet.</div>
                                        </div>
                                    </div>
                                <% } else { %>
							    <% team.users.forEach(function(teamUsers) { %>
								<div class="col-xl-4 col-lg-6">
									<div class="kt-portlet kt-portlet--height-fluid">
										<div class="kt-portlet__body">
											<div class="kt-widget kt-widget--general-1">
												<div class="kt-media kt-media--lg kt-media--circle">
													<img src="/assets/media/users/100_4.jpg" alt="image">
												</div>
												<div class="kt-widget__wrapper">
													<div class="kt-widget__label">
														<a href="#" class="kt-widget__title">
															<%= teamUsers.username %>
														</a>
														<span class="kt-widget__desc">
															<%= teamUsers.profile %>
														</span>
													</div>
													<div class="kt-widget__toolbar">
														<a href="#" class="btn btn-default btn-sm btn-bold btn-upper">chat</a>
														<a href="custom/profile/overview-1.html" target="_blank" class="btn btn-default btn-sm btn-bold btn-upper">profile</a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<% }); %>
								<% } %>
							</div>

							<!--end: Row-->
							
							<!--begin table-->
							
							<div class="kt-portlet kt-portlet--mobile">
								<div class="kt-portlet__head">
									<div class="kt-portlet__head-label">
										<h3 class="kt-portlet__head-title">
											<%= teamName.team_name %>'s Tasks
										</h3>
									</div>
									<div class="kt-portlet__head-toolbar">
						                <div class="kt-portlet__head-toolbar">
						                    <div class="dropdown dropdown-inline">
						                    	<% if (user.profile !== 'staff') { %>
							                        <button type="button" class="btn btn-brand btn-brand btn-upper btn-bold" data-toggle="modal" data-target="#exampleModal">Create New Board</button>
							                        <!-- Modal -->
							                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							                                <div class="modal-dialog" role="document">
							                                    <div class="modal-content">
							                                        <div class="modal-header">
							                                            <h5 class="modal-title" id="exampleModalLabel">Create a new Board</h5>
							                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							                                                <span aria-hidden="true">&times;</span>
							                                            </button>
							                                        </div>
							                                        <div class="modal-body">
							                                            <form action="/todo/board/create" method="post" class="kt-form" >
							                                                <div class="kt-portlet__body">
							                                                    <div class="kt-section kt-section--first">
							                                                        <div class="form-group">
							                                                            <label>Board Name:</label>
							                                                            <input type="text" name="board_name" class="form-control" placeholder="Enter Board Name">
							                                                            <input hidden type="text" name="team_id" class="form-control" value="<%= team.id %>">
							                                                            <input hidden type="text" name="employee_id" class="form-control" value="<%= user.id %>">
							                                                        </div>
							                                                    </div>
							                                                </div>
							                                                <div class="modal-footer">
							                                                    <button type="button" class="btn btn-outline-brand" data-dismiss="modal">Close</button>
							                                                    <Input type="submit" class="btn btn-brand" value="Create">
							                                                </div>
							                                            </form>
							                                        </div>
							                                        
							                                        
							                                    </div>
							                                </div>
							                            </div>
						                            <% } %>
						                    </div>
						                </div>
						            </div>
								</div>
								<div class="kt-portlet__body">

									<!--begin: Datatable -->
									<% if (boards.length == 0) { %>
						                <div class="kt-heading kt-heading--center">No Board on this team yet</div>
						            <% } else { %>
						            <table class="table table-striped- table-bordered table-hover" id="">
						                <thead>
						                    <tr>
						                        <th>id</th>
						                        <th>Board Name</th>
						                        <th>Time Created</th>
						                        <% if (user.profile !== 'staff') { %>
						                        <th>Actions</th>
						                        <% } %>
						                    </tr>
						                </thead>
						                <tbody>
						                    <% teamBoards.boards.forEach(function(board) { %>
						                    <tr>
						                        <td><%= board.id %></td>
						                        <td><a href="/todo/team/<%= team.id %>/board/<%= board.id %>"><%= board.board_name %></a></td>
						                        
						                        <td><%= moment(board.createdAt).fromNow() %></td>
						                        <% if (user.profile !== 'staff') { %>
						                        <td><a href="/todo/team/<%= team.id %>/board/<%= board.id %>/delete" class="btn btn-danger btn-elevate btn-icon btn-xs"><i class="la la-trash"></i></a></td>
						                    	<% } %>
						                    </tr>
						                    <% }); %>
						                </tbody>
						            </table>
						            <% } %>
									<!--end: Datatable -->
								</div>
							</div>
							
							<!--end table-->
						</div>

						<!-- end:: Content -->